# Importing the correct data and dropping columns

In [24]:
import pandas as pd
import numpy as np

df =pd.read_csv('phone_user_review_file_1.csv',encoding='ISO-8859-1')
df2=pd.read_csv('phone_user_review_file_2.csv',encoding='ISO-8859-1')
df3=pd.read_csv('phone_user_review_file_3.csv',encoding='ISO-8859-1')
df4=pd.read_csv('phone_user_review_file_4.csv',encoding='ISO-8859-1')
df5=pd.read_csv('phone_user_review_file_5.csv',encoding='ISO-8859-1')
df6=pd.read_csv('phone_user_review_file_6.csv',encoding='ISO-8859-1')
df7=pd.concat([df,df2,df3,df4,df5,df6], ignore_index=True)
df7=df7.drop(columns=['extract', 'score_max'])

# Checking the info on the dataframe

In [25]:
df7.info() # to get an idea of the rows that have problems

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1415133 entries, 0 to 1415132
Data columns (total 9 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   phone_url  1415133 non-null  object
 1   date       1415133 non-null  object
 2   lang       1415133 non-null  object
 3   country    1415133 non-null  object
 4   source     1415133 non-null  object
 5   domain     1415133 non-null  object
 6   score      1351644 non-null  float64
 7   author     1351931 non-null  object
 8   product    1415132 non-null  object
dtypes: float64(1), object(8)
memory usage: 97.2+ MB

# Creating anonymous for the authors that are empty

In [26]:
df7['author']=df7['author'].replace(np.nan,'anonymous',regex=True)# creating anonymous for the authors that are empty
df7

,phone_url,date,lang,country,source,domain,score,author,product
0,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Verizon Wireless,verizonwireless.com,10.0,CarolAnn35,Samsung Galaxy S8
1,/cellphones/samsung-galaxy-s8/,4/28/2017,en,us,Phone Arena,phonearena.com,10.0,james0923,Samsung Galaxy S8
2,/cellphones/samsung-galaxy-s8/,5/4/2017,en,us,Amazon,amazon.com,6.0,R. Craig,"Samsung Galaxy S8 (64GB) G950U 5.8"" 4G LTE Unl..."
3,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Samsung,samsung.com,9.2,Buster2020,Samsung Galaxy S8 64GB (AT&T)
4,/cellphones/samsung-galaxy-s8/,5/11/2017,en,us,Verizon Wireless,verizonwireless.com,4.0,S Ate Mine,Samsung Galaxy S8
...,...,...,...,...,...,...,...,...,...
1415128,/cellphones/alcatel-ot-club_1187/,5/12/2000,de,de,Ciao,ciao.de,2.0,david.paul,Alcatel Club Plus Handy
1415129,/cellphones/alcatel-ot-club_1187/,5/11/2000,de,de,Ciao,ciao.de,10.0,Christiane14,Alcatel Club Plus Handy
1415130,/cellphones/alcatel-ot-club_1187/,5/4/2000,de,de,Ciao,ciao.de,2.0,michaelawr,Alcatel Club Plus Handy
1415131,/cellphones/alcatel-ot-club_1187/,5/1/2000,de,de,Ciao,ciao.de,8.0,claudia0815,Alcatel Club Plus Handy
1415132,/cellphones/alcatel-ot-club_1187/,4/25/2000,de,de,Ciao,ciao.de,2.0,michaelawr,Alcatel Club Plus Handy

# Checking to make sure author column is full

In [27]:
df7.info()# Ran this and the author column is updated with value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1415133 entries, 0 to 1415132
Data columns (total 9 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   phone_url  1415133 non-null  object
 1   date       1415133 non-null  object
 2   lang       1415133 non-null  object
 3   country    1415133 non-null  object
 4   source     1415133 non-null  object
 5   domain     1415133 non-null  object
 6   score      1351644 non-null  float64
 7   author     1415133 non-null  object
 8   product    1415132 non-null  object
dtypes: float64(1), object(8)
memory usage: 97.2+ MB

# Checking the unique values for the score due to the info showing low data

In [28]:
df7['score'].unique() # checking the unique values for the scores

array([10. ,  6. ,  9.2,  4. ,  8. ,  2. ,  9.6,  7.2,  6.8,  9. ,  8.3,
        8.8,  8.4,  5.3,  7. ,  6.4,  7.6,  nan,  5.2,  3.2,  4.4,  2.8,
        5.6,  3.6,  4.8,  1. ,  5. ,  3. ,  2.4,  9.3,  8.5,  9.5,  6.5,
        5.5,  9.8,  8.2,  8.6,  7.8,  9.4,  6.6,  6.2,  7.5,  9.9,  2.7,
        8.7,  6.7,  3.3,  7.7,  7.3,  9.7,  6.3,  7.4,  5.7,  4.7,  4.3,
        5.8,  4.2,  4.5,  2.2,  5.4,  7.9,  3.5,  4.6,  3.7,  2.5,  3.4,
        7.1,  8.1,  1.2,  1.4,  3.8,  9.1,  2.6,  1.6,  1.7,  1.5,  1.8,
        2.3,  6.1,  5.9,  1.3,  0.2,  0.4,  8.9,  6.9,  0.6,  4.9])

In [29]:
for value in df['score'].unique():  # just trying to see what it registers as
    if value!=float(value):
        print(value)

nan

# Removing all of the rows that have nan values

In [30]:
empty=df7[df7['score'].isna()].index # this is to remove the rows from the table that have nan values
df7.drop(empty,inplace=True)
df7

,phone_url,date,lang,country,source,domain,score,author,product
0,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Verizon Wireless,verizonwireless.com,10.0,CarolAnn35,Samsung Galaxy S8
1,/cellphones/samsung-galaxy-s8/,4/28/2017,en,us,Phone Arena,phonearena.com,10.0,james0923,Samsung Galaxy S8
2,/cellphones/samsung-galaxy-s8/,5/4/2017,en,us,Amazon,amazon.com,6.0,R. Craig,"Samsung Galaxy S8 (64GB) G950U 5.8"" 4G LTE Unl..."
3,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Samsung,samsung.com,9.2,Buster2020,Samsung Galaxy S8 64GB (AT&T)
4,/cellphones/samsung-galaxy-s8/,5/11/2017,en,us,Verizon Wireless,verizonwireless.com,4.0,S Ate Mine,Samsung Galaxy S8
...,...,...,...,...,...,...,...,...,...
1415128,/cellphones/alcatel-ot-club_1187/,5/12/2000,de,de,Ciao,ciao.de,2.0,david.paul,Alcatel Club Plus Handy
1415129,/cellphones/alcatel-ot-club_1187/,5/11/2000,de,de,Ciao,ciao.de,10.0,Christiane14,Alcatel Club Plus Handy
1415130,/cellphones/alcatel-ot-club_1187/,5/4/2000,de,de,Ciao,ciao.de,2.0,michaelawr,Alcatel Club Plus Handy
1415131,/cellphones/alcatel-ot-club_1187/,5/1/2000,de,de,Ciao,ciao.de,8.0,claudia0815,Alcatel Club Plus Handy
1415132,/cellphones/alcatel-ot-club_1187/,4/25/2000,de,de,Ciao,ciao.de,2.0,michaelawr,Alcatel Club Plus Handy

# Checking the info for the numbers again

In [31]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1351644 entries, 0 to 1415132
Data columns (total 9 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   phone_url  1351644 non-null  object
 1   date       1351644 non-null  object
 2   lang       1351644 non-null  object
 3   country    1351644 non-null  object
 4   source     1351644 non-null  object
 5   domain     1351644 non-null  object
 6   score      1351644 non-null  float64
 7   author     1351644 non-null  object
 8   product    1351643 non-null  object
dtypes: float64(1), object(8)
memory usage: 103.1+ MB

# Cleaning the dataframe due to the product column being off

In [36]:
empty_product=df7[df7['product'].isna()].index # this is to remove the rows from the table that have nan values
df7.drop(empty_product,inplace=True)
df7

,phone_url,date,lang,country,source,domain,score,author,product
0,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Verizon Wireless,verizonwireless.com,10.0,CarolAnn35,Samsung Galaxy S8
1,/cellphones/samsung-galaxy-s8/,4/28/2017,en,us,Phone Arena,phonearena.com,10.0,james0923,Samsung Galaxy S8
2,/cellphones/samsung-galaxy-s8/,5/4/2017,en,us,Amazon,amazon.com,6.0,R. Craig,"Samsung Galaxy S8 (64GB) G950U 5.8"" 4G LTE Unl..."
3,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Samsung,samsung.com,9.2,Buster2020,Samsung Galaxy S8 64GB (AT&T)
4,/cellphones/samsung-galaxy-s8/,5/11/2017,en,us,Verizon Wireless,verizonwireless.com,4.0,S Ate Mine,Samsung Galaxy S8
...,...,...,...,...,...,...,...,...,...
1415128,/cellphones/alcatel-ot-club_1187/,5/12/2000,de,de,Ciao,ciao.de,2.0,david.paul,Alcatel Club Plus Handy
1415129,/cellphones/alcatel-ot-club_1187/,5/11/2000,de,de,Ciao,ciao.de,10.0,Christiane14,Alcatel Club Plus Handy
1415130,/cellphones/alcatel-ot-club_1187/,5/4/2000,de,de,Ciao,ciao.de,2.0,michaelawr,Alcatel Club Plus Handy
1415131,/cellphones/alcatel-ot-club_1187/,5/1/2000,de,de,Ciao,ciao.de,8.0,claudia0815,Alcatel Club Plus Handy
1415132,/cellphones/alcatel-ot-club_1187/,4/25/2000,de,de,Ciao,ciao.de,2.0,michaelawr,Alcatel Club Plus Handy

In [35]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1351643 entries, 0 to 1415132
Data columns (total 9 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   phone_url  1351643 non-null  object
 1   date       1351643 non-null  object
 2   lang       1351643 non-null  object
 3   country    1351643 non-null  object
 4   source     1351643 non-null  object
 5   domain     1351643 non-null  object
 6   score      1351643 non-null  float64
 7   author     1351643 non-null  object
 8   product    1351643 non-null  object
dtypes: float64(1), object(8)
memory usage: 103.1+ MB

# More cleaning can be done...